Repository NHSDigital/Galleri-Invitations, pull requests merged in 2023-07, with the labels that each got.

#3 Create dependabot.yml
  .github/dependabot.yml
Labels: Configuration

#6 Gal 178 create repo
  .github/workflows/cicd-pipeline.yaml
  .github/workflows/sonarcloud-scan.yaml
  README.md
  sonar-project.properties
Labels: pipeline

#8 Gal 182/terraform set up
  .github/workflows/cicd-pipeline.yaml
  .github/workflows/terraform.yaml
  .gitignore
  terraform/environment/dev/data.tf
  terraform/environment/dev/locals.tf
  terraform/environment/dev/outputs.tf
  terraform/environment/dev/providers.tf
  terraform/environment/dev/resources/dynamodb.tf
  terraform/environment/dev/resources/iam.tf
  terraform/environment/dev/resources/lambda.tf
  terraform/environment/dev/resources/s3.tf
  terraform/environment/dev/variables.tf
Labels: terraform

#12 Gal 196/create sdrs datastore
  .editorconfig
  Makefile
  terraform/environment/dev/resources/dynamodb.tf
  terraform/environment/dev/resources/kms.tf
Labels: terraform

#13 Gal 204/gp practice datastore
  terraform/environment/dev/resources/dynamodb.tf
  terraform/environment/dev/resources/kms.tf
  terraform/environment/dev/resources/s3.tf
Labels: terraform

#14 Gal 198/imd datastore
  terraform/environment/dev/resources/dynamodb.tf
Labels: pipeline, terraform

#16 added population table
  terraform/environment/dev/resources/dynamodb.tf
Labels: pipeline, terraform

#18 Gal 270/seeding table stage
  .github/workflows/cicd-pipeline.yaml
  .github/workflows/seeding.yaml
  scripts/pipeline/seed-data.sh
  test-data/file.json
Labels: pipeline
