Repository NHSDigital/Galleri-Invitations, pull requests merged in 2024-01, with the labels that each got.

#161 Feature/gal 334/create episode record
  .editorconfig
  .github/workflows/stage-2-test.yaml
  scripts/pipeline/nonprod_population_load/nonprod_population_load.py
  scripts/pipeline/unit_tests/test_nonprod_population_load.py
  terraform/main.tf
  terraform/modules/dynamodb/dynamodb.tf
  terraform/modules/dynamodb/outputs.tf
  terraform/modules/dynamodb/variables.tf
  terraform/modules/dynamodb_stream/dynamodb_stream.tf
  terraform/modules/dynamodb_stream/outputs.tf
  terraform/modules/dynamodb_stream/variables.tf
  terraform/modules/iam_galleri_role/iam.tf
  terraform/src/createEpisodeRecords/createEpisodeRecords.js
  terraform/src/createEpisodeRecords/package-lock.json
  terraform/src/createEpisodeRecords/package.json
  terraform/src/generateInvitesTriggerLambda/generateInvitesTriggerLambda.js
  terraform/src/generateInvitesTriggerLambda/package-lock.json
  terraform/src/generateInvitesTriggerLambda/package.json
  terraform/src/getLsoaParticipantsLambda/getLsoaParticipantsLambda.js
  terraform/src/helper/generateParticipantId.js
  terraform/src/tests/unitTests/createEpisodeRecords.test.js
  terraform/src/tests/unitTests/generateInvitesTriggerLambda.test.js
  terraform/src/tests/unitTests/getLsoaParticipantsLambda.test.js
Labels: enhancement, terraform, aws, refactor

#245 Feature/gal 451/demographic validation
  .github/actions/terraform/action.yaml
  .gitignore
  terraform/.terraform.lock.hcl
  terraform/main.tf
  terraform/modules/iam_galleri_role/iam.tf
  terraform/src/tests/unitTests/validateCaasFeed.test.js
  terraform/src/validateCaasFeedLambda/package-lock.json
  terraform/src/validateCaasFeedLambda/package.json
  terraform/src/validateCaasFeedLambda/validateCaasFeedLambda.js
Labels: terraform, aws

#256 Feature/master person index
  .github/actions/terraform/action.yaml
  package-lock.json
  package.json
  scripts/config/.gitleaks.toml
  terraform/main.tf
  terraform/modules/iam_galleri_role/iam.tf
  terraform/src/pollMeshMailboxLambda/helper.js
  terraform/src/pollMeshMailboxLambda/package-lock.json
  terraform/src/pollMeshMailboxLambda/package.json
  terraform/src/pollMeshMailboxLambda/pollMeshMailboxLambda.js
  terraform/src/tests/unitTests/caasFeedAddRecords.test.js
  terraform/src/tests/unitTests/pollMeshMailboxLambda.test.js
Labels: aws, javascript
